*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
    
    & a{
        color: #000;
        font-weight: bolder;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
        margin-left: 2rem;
        
        transition: all .3s;
    }
    
    & a:hover{
        opacity: 0.8;
    }
    
    & img{
        width: 80px;
        cursor: pointer;
    }
}

.container-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    & img{
        width: 250px;
        margin: 0 50px;
    }
}